.button {
  margin: 20px 20px 20px 0px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #4e1d04;
  font-size: 1rem;
  text-decoration: none;
}

.logout_button {
  margin: 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #4e1d04;
  font-size: 1rem;
  text-decoration: none;
}

.button_delete {
  margin: 20px 20px 20px 0px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #941111;
  font-size: 1rem;
  text-decoration: none;
}

.button_inactive {
  margin: 20px 20px 20px 0px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #999;
  font-size: 1rem;
  text-decoration: none;
}
