.header {
	display: flex;
	background-color: #dcbe87;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	height: 80px;
}
/*
.button {
	padding: 10px 20px;
	border: 0;
	border-radius: 5px;
	color: #fff;
	background-color: #4e1d04;
	font-size: 1rem;
	}*/
	
	.link_white {
		color: #FFF;
		text-decoration: none;
	}

  .search {
	color: #fff;
	text-decoration: none;
  }


