.header {
	display: flex;
	background-color: #dcbe87;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	height: 80px;
}
	
.link_white {
	color: #FFF;
	text-decoration: none;
}

.search {
	color: #fff;
	text-decoration: none;
}

.header_link {
	text-decoration: none;
	position: relative;
}

.header_form {
	position: relative;
}
