* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* kemur í veg fyrir lárétt hopp þegar síða síkkar og fær scrollbar */
  overflow-y: scroll;

  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  text-align: left;
}

h1,
h2,
h3 {
  font-family: 'Raleway',  sans-serif;
}

a {
  text-decoration: underline;
  color: #000;
}

p {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
  .header {
    display: block;
    float: left;
    flex-direction:column;
  }
}

.wrapper {
  margin-top: 25px;
  margin-left: 100px;
}